{% include "include/header.html" %}
<div class = "container_16">
    <div id = "header" class = "grid_16">
        <div id="banner" class = "grid_3 push_1 alpha">
            BANNER
        </div>
        <div id="login_form" class = "grid_7 push_6 omega">
            <form method="POST" action="{% url login-user %}" >
                    {{form.username}}
                    {{form.password}}
                    <input type="submit" value = "Login" >
                    <a href={% url email_app.views.signup %}>SignUp</a>
                </form>
        </div>
    </div>

    <div id = "login_oauth" class = "grid_5 push_11">
        <a href="/foursq_auth/auth/">foursquare</a>
        <a href="/facebook/">facebook</a>
        <a href="/twitter/auth/">twitter</a>
    </div>
</div>

{% include "include/footer.html" %}

